.signup_container {
    font-family: 'GmarketSansMedium';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.signup_mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px; 
}

.signup_subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.signup_title {
    margin-right: 22vw;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.signup_form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.signup_input_group {
    margin-bottom: 20px;
}

#nickName,
#signup_email,
#signup_password,
#confirmPassword {
    width: 30vw;
    height: 5vh;
    font-size: 18px;
    margin: 10px 0;
}

.signup_nickname_container {
    display: flex;
    align-items: center;
    width: 100%;
}

#nickName {
    width: calc(30vw - 160px);
    height: 5vh;
    font-size: 18px;
    margin: 10px 0;
}

.signup_nickname_check_btn {
    display: inline-block;
    border: 4px solid #82d21c;
    background: white;
    border-radius: 25px;
    padding: 8px 30px;
    color: black;
    font-weight: bold;
    letter-spacing: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.signup_input_group {
    border: none;
    border-bottom: 3px solid #82d21c;
    width: 100%;
    font-size: 18px;
}

.signupContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.signup_phrase {
    text-align: center;
    font-family: 'GmarketSansMedium', sans-serif;
}

.signup_login_btn,
.signup_btn {
    display: inline-block;
    border: 4px solid #82d21c;
    background: white;
    border-radius: 25px;
    padding: 8px 30px;
    color: black;
    font-weight: bold;
    letter-spacing: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup_btn_and_msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .signup_btn {
    margin-right: 20px;
  }
  
  .signup_error_messages {
    display: flex;
    flex-direction: column;
  }

.signup_nickname_check_btn:hover,
.signup_login_btn:hover,
.signup_btn:hover {
    background-color: #83d21c71;
}

.signup_nickname_Message,
.signup_passwordMessage,
.signup_baekjoonTier_message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.signup_nickname_Message-available{
    color:#61ecff;
}

.signup_divider {
    width: 5px;
    background-color: #ccc;
    height: 100%;
    margin: 0 100px;
}

.signup_tier-section,
.signup_level-section {
    margin: 20px 0;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.signup_tier-label,
.signup_level-label {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}


.signup_tier-label {
    color: black;
}

.signup_tier-label.bronze.selected { color: #a8680f; }
.signup_tier-label.silver.selected { color: #9facb8; }
.signup_tier-label.gold.selected { color: #ffd000; }
.signup_tier-label.platinum.selected { color: #44d77c; }
.signup_tier-label.diamond.selected { color: #2498e6; }
.signup_tier-label.ruby.selected { color: #e843f7; }

.signup_tier-label.bronze:hover { color: #a8680f; }
.signup_tier-label.silver:hover { color: #9facb8; }
.signup_tier-label.gold:hover { color: #ffd000; }
.signup_tier-label.platinum:hover { color: #44d77c; }
.signup_tier-label.diamond:hover { color: #2498e6; }
.signup_tier-label.ruby:hover { color: #e843f7; }


.signup_level-label.selected {
    color: #82d21c;
}

.signup_level-label:hover {
    color: #82d21c;
}

.signup_phrase2 {
    font-size: 20px;
    text-align: center;
}
