.search-container {
  position: relative;
  display: flex;
  justify-content: center; /* 부모에서 중앙 정렬 */
  width: 100%; /* 부모 그리드 안에서의 전체 너비 */
  max-width: 600px; /* 검색바의 최대 너비 */
  padding: 10px;
}

.search-bar {
  padding: 8px 40px 8px 16px; /* 오른쪽에 여유 공간을 더 주어 아이콘 위치 확보 */
  border: 5px solid #82d21c;
  border-radius: 50px;
  width: 100%;
  transition: width 0.3s ease;
}

.search-button {
  position: absolute; /* 검색 버튼을 검색바 안쪽 오른쪽에 고정 */
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 24px;
  height: 24px;
}
